

/*      Шрифты      */


@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/yrzXiAvgeQQdopyG8QSg8Q.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/g46X4VH_KHOWAAa-HpnGPhsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/7dSh6BcuqDLzS2qAASIeuj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/lILlYDvubYemzYzN7GbLkIraN7vELC11_xip9Rz-hMs.woff) format('woff');
}



body, html  {
    font-family: 'PT Sans', Helvetica, sans-serif !important;

}

body .top  {
    color: #ffffff !important;
}

body .top2  {
    color: #ffffff !important;
    font-family: 'PT Sans', Helvetica, sans-serif !important;
}

a {
    color: #ffffff;
    text-decoration: none;
}




a:hover,
a:focus {
    color: #ffffff;
    text-decoration: none;
}
/*@font-face {*/
    /*font-family: ptsans;*/
    /*src: url('../fonts/ptsansbold.ttf');*/
/*}*/

/*@font-face {*/
    /*font-family: "ptsans";*/
    /*url('../fonts/ptsansbold.woff') format("woff");*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: "ptserif";*/
    /*src: url("../fonts/ptserifital.eot");*/
    /*src: url("../fonts/ptserifital.eot?#iefix") format("embedded-opentype"),*/
    /*url("../fonts/ptserifital.woff") format("woff"),*/
    /*url("../fonts/ptserifital.ttf") format("truetype"),*/
    /*url("../fonts/ptserifital.svg#JournalRegular") format("svg");*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/


/*@font-face {*/
    /*font-family: "ptsans_regular";*/
    /*url("../fonts/ptsanskurs.woff") format("woff");*/
/*}*/
/*@font-face {*/
    /*font-family: ptsans_regular;*/
    /*src: url('../fonts/ptsans_regular.ttf');*/
/*}*/
/*@font-face {*/
    /*font-family: ptsans_regular;*/
    /*src: url('../fonts/ptsans.ttc');*/
/*}*/
/*@font-face {*/
    /*font-family: ptsans_italic;*/
    /*src: url("../fonts/serif.ttf");*/
/*}*/
/*@font-face {*/
    /*font-family: "ptsans_italic";*/
    /*url("../fonts/ptsansboldkurs.woff") format("woff");*/
/*}*/
/*@font-face {*/
    /*font-family: ptsans_serif_italic;*/
    /*src: url("../fonts/serif.ttf");*/
/*}*/
.bordhead {
    border-bottom: 0;
}
.bordvhod {
    min-height: 16.428571429px;
    padding: 15px;
    max-width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 41px;
}
#hov a:focus{color:#00f;}
#hov a:hover {color:#f00;}

.nizzz {
    margin-top: 0;
    border-top: 0;
    background-color: #f9f9f9;
    padding-bottom: 35px;
}
.zabpar {
    color: #bbbbbb;
    margin-left: 24px;
    border-bottom: 1px solid;

}
.techhar {
    font-size: 16px;
    color: #909090;
    border-bottom: 1px solid;
}
a.techhar:hover {
    color: #464646;
}
a.techhar:hover {
    color: #464646;
}
.delkorz {
    font-size: 14px;
    color: #bbbbbb;
    margin-left: -81px;
    border-bottom: 1px solid;
}
a.delkorz:hover {
color: #464646;
}
a.zabpar:hover {
color: #464646;
}

.otstup{
    margin-top: 15px;
}
.otstup2 {
    margin-top: 10px;
    margin-left: 60px;
}
.bltp {
    margin-top: 93px;
    width: 975px;
}
.bltpp {
    margin-top: 15px;
    border: 1px solid #566573;
    border-left: 0;
    border-right: 0;
    width: 645px;
    height: 45px;
    margin-left: -14px;
}
.blkcen {
    margin-top: 0;
    font-size: 22px;
    float: right;
    width: 159px;
    height: 56px;
    line-height: 46px;
    border-bottom: 5px solid #e0e0e0;
}
.blkcenn {
    margin-left: -15px;
    margin-top: 0;
    font-size: 18px;
    float: left;
    width: 159px;
    height: 52px;
    line-height: 46px;
    border-bottom: 5px solid #5f80a1;
}
.sumitog {
    font-size: 18px;
    height: 52px;
    margin-top: 9px;
    margin-left: 47px;
    width: 328px;
}
.rubb {
    float: inherit;
    margin-left: 6px;
    margin-top: 4px;
}
.rubbb {
    font-size: 14px;
}
.blkcen2 {
    font-size: 22px;
    float: right;
    width: 159px;
    height: 56px;
    line-height: 53px;
    border-bottom: 5px solid #6f9000;
    margin-right: -15px;
    margin-top: 4px;
}
.tisya {
    margin-left: 18px;
}
.tisyaa {
    float: left;
    margin-left: 5px;
    margin-top: 4px;
}
.cfrsise {
    font-size: 22px;
}
.tisya2 {
    margin-left: 6px;

}
.good {
    padding: 6px 10px;
    float: right;
    margin-top: 8px;
    margin-right: 46px;
    font-size: 20px;
    width: 148px;
    outline: none;
    display: block;
    height: 32px;
    line-height: 1.428571429;
    color: #919191;
    vertical-align: middle;
    background-color: #2c3e50;
    border: 0 solid #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.promkod {
    float: left;
    margin-top: 10px;
    margin-left: -13px;
    font-size: 18px;
}
#delkorz {

}
.znak {
    background: url("../img/hrest.png") no-repeat;
    float: right;
    height: 17px;
    width: 15px;
    margin-top: 24px;
    margin-right: 43px;
}
.znakk {
    background: url("../img/ppluss.png") no-repeat;
    float: left;
    height: 17px;
    width: 15px;
    margin-top: 8px;
    margin-left: 42px;
}
.znak2 {
    background: url("../img/rawno.png") no-repeat;
    float: right;
    height: 17px;
    width: 15px;
    margin-top: 27px;
    margin-right: 43px;
}
.znaki {
    height: 60px;
}
.knpkaa{
    width: 214px;
    margin-left: -73px;
    margin-top: -11px;
}
.wopros {
    background: url("../img/wopros2.png") no-repeat;
    width: 62%;
    float: inherit;
}
.wopros2 {
    background: url("../img/wopros2.png") no-repeat;
    width: 100%;
    float: inherit;
}
.woitset{
    margin-left: -25px;
}
.knpvhod, .knpvhod:hover, .knpvhod:focus, .knpvhod:active  {
    width: 179px;
    height: 46px;
    margin-left: 4px;
    border-radius: 2px;
    background-color: #8fa1b8;
    border-color: #8fa1b8;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 600;
}
.otpravit, .otpravit:hover, .otpravit:focus, .otpravit:active  {
    width: 498px;
    height: 59px;
    margin-left: 0;
    border-radius: 0;
    background-color: #8fa1b8;
    border-color: #8fa1b8;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
}
.otstpotprw {
    padding-bottom: 30px;
}
.cwet_svetl_ser {
    color: #777777;
}
.cwet_temn_ser {
    color: #666666;
}
.itog {
    font-size: 28px;
}
.blokitog{
    margin-top: 8px;
    margin-left: -13px;
}
.knpkoform{
    margin-left: -32px;
    width: 256px;
    margin-top: -25px;
    float: right;
}
.wisprob{
    height: 20px;
}
#btnnn {
    font-size: 14px;
    padding: 2px 8px;
    line-height: 1.5;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #2a3942;
    margin-left: -2px !important;
    margin-top: -3px !important;
    width: 143px !important;
    height: 24px;
}
#sld {
    margin-top: 19px;
}
#social {
    height: 204px;
}
.top {
    background: url("../img/temnfon.jpg") ;
    max-width: 100%;
}
.top2 {
    background: url("../img/temn_fon2.jpg") ;
    max-width: 100%;
    padding-bottom: 26px;
}
.pryam {
    background: url("../img/pryam.png");
    width: 375px;
    height: 20px;
    font-size: 13px;
    float: right;
}
#bot {
    background: url("../img/nizz_fon.jpg")!important ;
    max-width: 100%;
    height: 163px;
    margin-left: -4px;
}
#bot2 {
    background: url("../img/nizfon2.jpg")!important ;
    max-width: 100%;
    height: 163px;
    margin-left: -4px;
}
#kontai {
    margin-top: -12px;
}
#lenka {
    font-family: verdana;
    font-size: 12px;
    color: #cccccc;
    margin-left: -33px;
    margin-top: 7px;
    line-height: 20px;
    width: 333px;
}
#pozvon {
    margin-top: 3px;
    margin-left: 8px;
    line-height: 30px;
    width: 46%;
    font-size: 14px;
}
#troica {
    width: 95px;
    font-size: 14px;
    margin-top: 7px;
    line-height: 27px;
}
#troica2 {
    font-size: 14px;
    margin-left: -9px;
    margin-top: 6px;
    line-height: 28px;
}
#znaki {
    margin-top: 6px;
    margin-left: -34px;
}
#designer {
    font-family: verdana;
    color: #cccccc;
    border-bottom: 1px solid #cccccc;
}
/*#bot {*/
    /*background-image: url("../img/plsa.png");*/
    /*background-position: top;*/
    /*background-repeat: repeat-x;*/
    /*padding-top: 20px;*/
    /*width: 55px;*/
    /*height: 55px;*/
/*}*/

.tel {
    padding-left: 24px;
    background: url("../img/phone.png") 0 0 no-repeat;
}

.svon {
    float: left;
    height: 21px;
    margin-top: 2px;
    margin-left: -2px;
    width: 29px;
    background: url("../img/obr_zvon.png") 0 0 no-repeat;
}
.vopros {
    float: left;
    height: 21px;
    margin-top: 6px;
    margin-left: 12px;
    width: 29px;
    background: url("../img/wopros.png") 0 0 no-repeat;
}
.kab {
    float: left;
    height: 21px;
    margin-top: 6px;
    margin-left: 12px;
    width: 29px;
    background: url("../img/kabinet.png") 0 0 no-repeat;
}
.korsina {
    float: left;
    height: 21px;
    margin-top: 6px;
    margin-left: 12px;
    width: 29px;
    background: url("../img/korsina.png") 0 0 no-repeat;
}
.term {
    border-bottom: 1px dashed #829099;

}
.lena {
    background: url("../img/lena.png") 0 0 no-repeat;
    float: right;
    margin-top: 52px;
    height: 83px;
    width: 419px;
}
.logowerh {
    margin-top: -5px;
}
.logo {
    background: url("../img/logo.png") 0 0 no-repeat;
    float: right;
    margin-top: -5px;
    margin-right: 1px;
    height: 76px;
    width: 128px;
}

.lev_set {
    float: left;
    margin-top: -10px;
    margin-left: 113px;
    height: 76px;
}

.prav_set {
    float: right;
    margin-top: -78px;
    margin-right: -407px;
    height: 73px;
}
.kwadra {
    padding-top: 19px;
}
.kv {
    float: left;
    height: 14px;
    margin-top: 4px;
    padding-left: 34px !important;
    background: url("../img/kvadrat.png") 0 0 no-repeat !important;
}
.kvkv {
    height: 14px;
    width: 7px;
    float: left;
    margin-top: 4px;
    padding-left: 34px;
    background: url("../img/kvadrati.png") 0 0 no-repeat;
}
.levbl {
    float: left;
    width: 156px;
}
.pravbl {
    float: left;
    width: 150px;
    padding-left: 28px;
}
.kvadra {
    float: right;
    margin-top: 17px;
    margin-right: 7px;
    height: 73px;
}
.rama {
    margin-left: -5px;
    margin-top: -2px;
}
#vkmin {
    background: url("../img/vk_like.png") 0 0 no-repeat;
    float: right;
    margin-right: -4px;
    margin-top: 1px;
    height: 21px;
    width: 40px;
}
#plus {
    background: url("../img/plus.png") 0 0 no-repeat;
    float: right;
    margin-right: -100px;
    margin-top: 1px;
    height: 21px;
    width: 40px;
}
#fb {
    background: url("../img/fb_rek.png") 0 0 no-repeat;
    float: right;
    margin-top: 34px;
    margin-right: -101px;
    height: 20px;
    width: 101px;

}
#tw {
    background: url("../img/tw_twit.png") 0 0 no-repeat;
    float: right;
    margin-top: 67px;
    margin-right: -101px;
    height: 20px;
    width: 101px;
}
#sapost {
    background: url("../img/zapost.png") 0 0 no-repeat;
    float: right;
    margin-top: 100px;
    margin-right: -101px;
    height: 20px;
    width: 101px;
}
#punktirr {
    margin-top: 23px;
    padding-left: 12px;
    background: url("../img/punktirr.png") right repeat-y;
    height: 146px;
    width: 139px;
}
#punktirr2 {
    margin-top: 23px;
    padding-left: 12px;
    background: url("../img/punktirr.png") right repeat-y;
    height: 146px;
    width: 531px;
}
#punkt{
    margin-top: 0;
    padding-left: 14px;
    background: url("../img/punktirr.png") right repeat-y;
    height: 102px;
    width: 284px;
}

#punkt2 {
    margin-top: 0;
    padding-left: 14px;
    background: url("../img/punktirr.png") right repeat-y;
    height: 102px;
    width: 206px;
}
.punktir {
    border-right-color: #92a0a9; /* Цвет линии справа */
    border-right-style: dashed; /* Стиль линии */
    border-right-width: 2px;  /* Толщина линии */
    padding: 0 10px;  /* Расстояние между линией и текстом */
    margin: 0 50px;

}
#punktir2 {
    margin-top: 64px;
    margin-left: 37px;
    padding-left: 24px;
    background: url("../img/punktirr.png") right repeat-y;
    height: 190px;
}

#icon {
    margin-right: -4px;
    height: 21px;
    width: 40px;
}
#tx {
    letter-spacing: -0.2px;
    margin-top: -7px;
    font-size: 14px;
    margin-left: 4px;
}
#drop {
    float: left;
    margin-top: 17px;
}
.ult {
    float: left;
    margin-top: 13px;
    margin-left: 6px;
    height: 32px;
}
#btnn {
    width: 143px;
    font-size: 14px;
    height: 24px;
    padding: 0 7px;
    line-height: 1.5;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #2a3942;
    margin-left: -18px;
    margin-top: -3px;
}

#drpd {
    margin-left: -3px;
    min-width: 145px;
}

#drpd2 {
    margin-left: 12px;
    min-width: 145px;
}
#stoim {
    letter-spacing: -0.3px;
    margin-top: 4px;
    margin-left: 5px;
}
#cena {
    margin-top: 2px;
    margin-left: 4px;
    font-size: 16px;
}
#radi {
    letter-spacing: -0.3px;
    font-size: 40px;
    margin-top: 30px;
    margin-left: -33px;
}

#gran {
    margin-top: -9px;
    margin-left: -32px;
    font-size: 22px;
}

#kart {
    margin-top: 36px;
    margin-left: -30px;
}

.car {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}
.car2 {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 5px solid #FFFFFF;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
    margin-left: 47px;
}
.pravv {
    width: 27.333333%;
    margin-top: 25px;
}
.mrg {
    margin-top: -3px;
    margin-left: 9px;
}
#holst {
    margin-left: 8px;
    margin-top: -3px;
    font-size: 16px;
}
.cwet_white {
color: #FFFFFF;
}
.cwet_ser {
color: #545454;
}
.centr {
text-align: center !important;
}
.cwet_black {
    color: #000000;
}
#razm {
    margin-top: 10px;
}

.slide  {
    background: url("../img/rama.png") no-repeat 0 0;
    padding: 22px;
}

.top-line-bold  {
    background: url("../img/volna1.png") top repeat-x;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: -47px;
}
.top-line-light  {
    background: url("../img/volna0.png") repeat-x;
    padding-top: 20px;
}
.bottom_fon {
    background: #F0F5FB;
    max-width: 100% !important;
    margin-top: 58px;
}

.bold {
    font-family: 'PT Sans', Helvetica, sans-serif !important;

    font-weight: bold;
}
.italic {
    font-family: 'ptsans_italic',helvetica, sans-serif;
    font-style: italic;
}
.ptsans2 {
    font-family: "ptsans_regular",Helvetica, sans-serif;
}
.ptsans_serif_italic {
    font-family: 'ptsans_serif_italic';
}
.ptserif {
    font-family: "ptserif";
}
.stolb {
    height: 380px;
    width: 236px;
    max-width: 119%;
    border: 0;
}
.radius {
    width: 110%;
}
.strel {
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    margin-left: 509px;
    margin-top: -155px;
}
.niz {
    background: url("../img/blue_fon.png");
    max-width: 116%;
    height: 305px;
    margin-top: 17px;
    margin-left: -47px;
}
.knopka, .knopka:hover,  .knopka:focus, .knopka:active{
    color: #ffffff;
    width: 184px;
    height: 36px;
    background-image: url("../img/btn_podpis.png");
    border: 0 solid transparent;
}
.stolb2 {
    height: 180px;
    width: 197px;
    max-width: 119%;
    border: 0;
    padding: 4px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#margin_top {
    margin-top: 58px;
}
#nomer {
    margin-left: -5px;
    font-size: 14px;
    letter-spacing: -0.4px;
}
/*#pozvoni {*/
    /*letter-spacing: 0.4px;*/
    /*font-size: 12px;*/
    /*margin-left: 22px;*/
    /*margin-top: 10px!important;*/
    /*color: #95c7cc;*/
/*}*/
#pozvoni {
font-size: 11px;
margin-left: 22px;
margin-top: 10px!important;
color: #95c7cc;
    }
#obr {
    margin-top: 4px;
    margin-left: 4px;
}
#vopr {
    float: left;
    margin-top: 4px;
    margin-left: -5px;
}
#marg {
    margin-left: 5px;
}
#kabi {
    margin-left: -10px;
}
#rass{
    margin-top: -5px;margin-left: -6px;font-size: 20px;color: #535353;
}
#nam {
    margin-top: 33px;
}
#namm {
    margin-left: -5px;
    margin-top: 9px;
    font-size: 15px;
    color: #545454;
}
#gen {
    margin-left: -16px;
    margin-top: 1px;
}
#milo {
    margin-top: 6px;
}
#milo2 {
    margin-left: -5px;
    margin-top: 6px;
    font-size: 15px;
    color: #545454;
}
#vved {
    margin-left: -16px;
    margin-top: -2px;
    }
#buton {
    margin-top: 11px;
    margin-left: -38px;
}
#rassil {
    margin-left: 64px;
    margin-top: -1px;
    font-size: 20px;
}
#socialk {
    margin-top: 34px;
}
#socialk a, #socialk a:hover {
   color: #678acd !important;
}
#socialk a, #socialk a:hover {
   color: #678acd !important;
}
#stt {
    margin-left: 29px;
}
#vkkk{
    margin-left: -27px;
}
#fbfb {
    margin-left: -30px;
}
#ffbf {
    margin-left: 41px;
}
#googp {
    margin-left: -29px;
}
#google {
    margin-left: 32px;
}
#poluc {
    color: #666666;
    margin-left: -32px;
    line-height: 22px;
}
#vkvk {
    margin-left: 38px;
}
#skid {
    margin-left: 41px;
    margin-top: 12px;
    line-height: 27px;
    font-size: 14px;
}
#opis {
    margin-left: -45px;
    margin-top: 60px;
}
#kab2 {
    float: inherit;
    margin-left: -4px;
    display: inline-block;
    margin-top: 4px;
}
#korz {
    margin-left: -16px;
}
#vakorz {
    float: inherit;
    display: inline-block;
    margin-top: 4px;
    margin-left: -3px;
}
.levkol {
    margin-left: 70px;
    margin-top: 17px;
    text-align: center;
    /*margin-left: 70px;*/
    /*margin-top: 13px;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
}
.otstup {
    margin-right: 36px;
    margin-left: 34px;
}
.pravkol {
    margin-left: -45px;
    margin-top: 17px;
    text-align: center;
    /*margin-left: -45px;*/
    /*margin-top: 13px;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
}
.filmmrg {
    margin-right: 39px;
}
.kontaktlet {
    letter-spacing: 0.2px;
}
.pis {
    letter-spacing: 0.4px;
}
#kv {
    letter-spacing: 0.3px;
    margin-left: 3px;
    color: #95c7cc;
    border-bottom: 1px solid #5f848c;
}
.bordbot {
    border-bottom: 1px solid #919191;
}
.polosa {
    border-bottom: 1px solid #cccccc;
}
#frm {
    font-size: 13px;
    margin-top: 11px;
    margin-left: 8px;
    line-height: 1.39;
    color: #92a0a9;
}
a.rollover {
    background: url(../img/btn_korz.png) no-repeat;
    display: block;
    width: 220px;
    height: 41px;
    margin-top: 37px;
    margin-left: 21px;
    cursor: pointer;
}
a.rollover:active {
    background: url(../img/btn_korz1.png) no-repeat;
}
a.rollover2 {
    background: url(../img/oformi.png) no-repeat;
    display: block;
    width: 220px;
    height: 41px;
    margin-top: 37px;
    margin-left: 21px;
}
a.rollover2:active {
    background: url(../img/oformi2.png) no-repeat;
}
#btngrup {
    margin-left: -34px;
    margin-top: -4px;
    width: 143px;
}
.rzkart {
    font-size: 14px;
    margin-top: -5px;
    margin-left: 5px;
    line-height: 1.0;
}

.bttow {
    margin-left: -7px;
}
.krugl {
    border-bottom: 1px solid #b5b5b5;
    height: 119px;
    width: 187px;
    margin-left: 2px;
}
.centrin {
    height: 103px;
    width: 108px;
    margin-left: 40px;
}
.niss {
    color: #678acd;
    font-size: 16px;
    border-bottom: 1px solid #678acd;
    margin-left: 51px;
    text-align: center;
    width: 76px;
}
.blok_twit {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 20px;
}
.cwet_ser2 {
    color: #3a3a3a
}

.cwet_ser3 {
    color: #686868;
}
.cwet_ser4 {
    color: #464646;
}
.swet {
    font-size: 28px;
    margin-top: 8px;
    margin-left: 3px;
}
.slnskaz {
    font-size: 28px;
    margin-top: 8px;
    margin-left: 4px;
}
.holst {
    font-size: 16px;
    margin-left: 3px;
}
.avtposter {
    font-size: 16px;
    margin-left: 5px;
}
.polosblok {
    border-bottom: 1px solid #e5e5e5;
    width: 810px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.nstplusi{
    height: 28px;
    margin-top: 13px;
    margin-left: 5px;
}
.nstplusi2{
    height: 38px;
    margin-top: 5px;
    margin-left: 0;
    width: 120px;
}
.swd {
    margin-left: 1px;
}
.min1 {
    background: url("../img/min.png") no-repeat;
    float: left;
    width: 50px;
    height: 57px;

  }
.min2 {
    background: url("../img/minbel.png") no-repeat;
    float: left;
    width: 50px;
    height: 30px;
    margin-left: -12px;
    margin-top: 3px;
}
.plus1 {
    background: url("../img/plu.png") no-repeat;
    float: left;
    width: 50px;
    height: 50px;
}
.plus2 {
    background: url("../img/plusbel.png") no-repeat;
    float: left;
    width: 28px;
    height: 27px;
    margin-top: 3px;
}
.cifra {
    float: left;
    margin-top: -1px;
    margin-left: -17px;
    padding-left: 8px;
    padding-right: 13px;
    font-size: 21px;
}
.cifraa {
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    padding-left: 8px;
    padding-right: 13px;
    font-size: 21px;
}
.cifra2 {
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    padding-left: 8px;
    padding-right: 13px;
    font-size: 21px;
}
.maltx {
    font-size: 20px;
}
.frmttxt{
    margin-top: 26px;
    font-size: 16px;
    margin-left: 17px;
}
.frmttxt2 {
    margin-top: 24px;
    font-size: 16px;
    margin-left: -15px;
}
.frmtbtn {
    margin-left: -33PX;
    margin-top: 13PX;
}
.frmtbtn2 {
    margin-left: -2PX;
    margin-top: 13PX;
}
.korzdlin {
    width: 100%;
    padding-top: 51px;
    padding-left: 0;
    padding-right: 0;
    }
.imegkrgirl {
    background: url("../img/krtetka.png") no-repeat;
    height: 150px;
    width: 150px;
}
.imegslon {
    background: url("../img/slon.png") no-repeat;
    height: 183px;
    width: 247px;
}
.imeggori {
    background: url("../img/gori.png") no-repeat;
    height: 183px;
    width: 247px;
}
.imegkniga {
    background: url("../img/kniganew.png") no-repeat;
    height: 150px;
    width: 150px;
}
.korz {
    font-size: 40px;
}
.pokup {
    font-size: 24px;
}
.korzknop {
    margin-top: 23px;
    margin-left: -31px;
    margin-bottom: 23px;
}
.waspokup {
    margin-top: 21px;
    margin-left: -31px;
    margin-bottom: 10px;
}
.blokzak {
    margin-left: -39px;
    margin-top: 13px;
}
.repeaticon {
    background: url("../img/repit.png") no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 30px;
}
.zakrkrest {
    float: left;
    background: url("../img/zayav.png") no-repeat;
    height: 32px;
    width: 34px;
    margin-left: 14px;
    margin-top: -6px;
}
.botniz {
    padding-bottom: 49px;
}
.clokorz {
    margin-left: 27px;
    margin-top: 5px;
    width: 79px;
    height: 71px;
    line-height: 7px;
    font-size: 14px;
}
.prodpokup, .prodpokup:hover, .prodpokup:active, .prodpokup:focus{
    background-color: #889db8;
    font-size: 16px;
    border-radius: 4px;
    width: 211px;
    height: 41px;
    margin-left: 99px;
    margin-top: 25px;
    color: #ffffff;
}
.prodpokup2, .prodpokup2:hover, .prodpokup2:active, .prodpokup2:focus {
    background-color: #889db8;
    font-size: 18px;
    border-radius: 2px;
    border-color: #889db8;
    width: 178px;
    height: 46px;
    color: #ffffff;
}
.zakrpokup, .zakrpokup:hover, .zakrpokup:active, .zakrpokup:focus {
    position: absolute;
    background-color: #889db8;
    font-size: 16px;
    border-radius: 4px;
    width: 155px;
    height: 43px;
    margin-top: -22px;
    margin-left: 68px;
    color: #ffffff;
}
.contleft{
    margin-left: 171px;
}
.fonsloya {
    background-color: #f2f2f2;
    border-radius: 0;
}
.fonblok {
    background-color: #ffffff;
}
.fonblok2 {
    background-color: #2c3e50;
    margin-left: -14px;
    width: 893px;
    height: 183px;
}
.plsblok {
    width: 646px;
    margin-top: 9px;
    padding-bottom: 15px;
}
.itogblok {
    float: right;
    width: 297px;
    height: 59px;
    border-radius: 2px;
}
.btnreg,  .btnreg:focus, .btnreg:hover, .btnreg:active{
    width: 178px;
    height: 46px;
    border-radius: 2px;
    background-color: #d44b4b;
    font-size: 18px;
    padding: 8px 0;
}
.razmtx {
    font-size: 18px;
    margin-top: -15px;
    margin-left: 1px;
}
#ggp {
    background: url("../img/gp_krug.png") 0 0 no-repeat;
    float: left;
    margin-top: 2px;
    margin-left: 0;
    height: 29px;
    width: 40px;
}
#vvk {
    background: url("../img/vk_krug.png") 0 0 no-repeat;
    float: left;
    margin-left: -8px;
    margin-top: 4px;
    height: 29px;
    width: 40px;
}
#ffb {
    background: url("../img/fb_krug.png") 0 0 no-repeat;
    float: left;
    margin-left: -6px;
    margin-top: 2px;
    height: 29px;
    width: 40px;
}
#ttv{
    background: url("../img/tw_krug.png") 0 0 no-repeat;
    float: left;
    margin-left: -11px;
    margin-top: 4px;
    height: 29px;
    width: 40px;
}
#rss {
    background: url("../img/rss.png") 0 0 no-repeat;
    float: left;
    margin-top: 4px;
    margin-left: -5px;
    height: 29px;
    width: 40px;
}
.cwet_cccc{
    color: #cccccc
}

#perw{
    margin-bottom: 4px;
}
#vtor {
    margin-top: 10px;
    font-size: 13px;
}
#poziw {
    float: inherit;margin-top: -4px;
    margin-left: 0;
}

#volkart {
    margin-top: 17px;
    margin-left: 26px;
}

#nauk {
    margin-left: -5px;
    margin-top: 12px;
    font-size: 13px;
    line-height: 1.6;
}
#isled {
    color: #0099cc;
    border-bottom: 1px solid #0099cc;
}
#knig {
    margin-left: 38px;
    margin-top: 7px;
}
#mudr {
    margin-left: 36px;
    margin-top: 12px;
}
.men1 {
    background: url("../img/man-10.png") no-repeat 0 0 ;
}
.lev_znak {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: table-cell;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 1%;
    height: 44px;
    white-space: nowrap;
    vertical-align: middle;

}
.prav_znak {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: 1px solid #cccccc;
    border-radius: 3px;
    display: table-cell;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 1%;
    height: 44px;
    white-space: nowrap;
    vertical-align: middle;

}
.textpole {
    outline: none;
    margin-bottom: 0;
    display: block;
    height: 44px;
    width: 289px;
    padding: 6px 6px;
    font-size: 19px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #ffffff;
    color: #68707c;
    color: #68707c;
    border: 1px solid #cccccc;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.textpole2 {
    outline: none;
    margin-bottom: 0;
    display: block;
    height: 44px;
    width: 286px;
    padding: 6px 6px;
    font-size: 19px;
    line-height: 1.428571429;
    vertical-align: middle;
    background-color: #ffffff;
    color: #68707c;
    color: #68707c;
    border: 1px solid #cccccc;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.vverhpole {
    margin-left: 39px;
    margin-top: -26px;
    padding-bottom: 24px;
}
.nizpole {
    margin-left: 39px;
    padding-bottom: 21px;
}
.woprotstp {
    margin-top: 13px;
    margin-left: 25px;
}
.galka {
    background: url("../img/galka.png") no-repeat 0 0 ;
}
#pis {
    margin-left: -16px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
}
#melod {
    margin-left: 26px;
    margin-top: 9px;
}
#magik {
    margin-left: 22px;
    margin-top: 2px;
}
#cd {
    width: 225px;
    margin-left: -27px;
    margin-top: 11px;
    font-size: 14px;
}
#disc {
    margin-left: 18px;
    margin-top: 7px;
}
#film {
    margin-left: -9px;
    margin-top: 4px;
}
#film2{
    width: 225px;
    margin-left: -38px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.4;
}
#pogrus {
    width: 174px;
    margin-left: -39px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.44;
    color: #929292;
}
#twor {
    margin-top: 18px;
    margin-left: -47px;
}
#gr {
    margin-left: 6px;
    margin-top: 21px;
}
#mtwor {
    margin-left: 9px;
    margin-top: 3px;
    width: 263px;
    font-size: 14px;
    line-height: 1.6;
    color: #4c6171;
}
#len {
    margin-left: -6px;
}
#len2 {
    font-size: 40px;
    margin-top: 14px;
    margin-left: 1px;
    color: #3a3a3a;
}
#laur {
    font-size: 18px;
    margin-top: -9px;
    margin-left: 0;
    width: 564px;
}
#rod {
    margin-top: 21px;
    font-size: 20px;
    color: #3a3a3a;
}

#udmir {
    font-size: 14px;
    margin-left: 0;
    margin-top: -10px;
    width: 596px;
}
#vista {
    margin-top: 15px;
    font-size: 20px;
}
#rus{
    font-size: 14px;
    margin-left: 0;
    margin-top: -10px;
    margin-bottom: 17px;
    width: 596px;
}
#klas {
    margin-top: 16px;
    margin-left: 0;
    font-size: 20px;
    color: #0099cc;
    border-bottom: 1px solid #0099cc;
    width: 241px;
    line-height: 1.2;
}
#pokaz {
    font-size: 14px;
    margin-left: 0;
    margin-top: 4px;
    width: 596px;
}
.otsmen {
    padding-top: 314px;
}
.razmokn {
    width: 500px;
    height: 552px;
    margin-left: 19px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}

.perezwon {
    width: 500px;
    height: 357px;
    margin-left: 19px;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
}
.chel {
    background: url("../img/man.png") no-repeat;
    height: 91px;
    width: 108px;
    margin-top: -3px;
    margin-left: 32px;
}
.lico {
    background: url("../img/lico.png") no-repeat;
    height: 114px;
    width: 114px;
    margin-top: -5px;
    margin-left: 30px;
}
.koloni {
    margin-top: 39px;
    margin-left: -31px;
    width: 959px;
    height: 66px;
    border: 1px solid #566573;
    border-left: 0;
    border-right: 1px;
}
.odin {
    background: url("../img/odin.png") no-repeat;
    float: left;
    width: 31px;
    height: 30px;
}
.dwa {
    background: url("../img/dwa.png") no-repeat;
    float: left;
    width: 31px;
    height: 30px;
}
.tri {
    background: url("../img/tri.png") no-repeat;
    float: left;
    width: 31px;
    height: 30px;
}
.frmtcifr {
    font-size: 16px;
    margin-top: 2px;
    padding-left: 8px;
    float: inherit;
}
.otlet {
    margin-top: 17px;
    margin-left: 18px;
}
.otlet2 {
    margin-top: 17px;
    margin-left: -3px;
}
.otlet3 {
    margin-top: 17px;
    margin-left: 28px;
}
.otlet4 {
    margin-top: 17px;
    margin-left: -5px;
    width: 191px;
}
.chetiri {
    background: url("../img/chetiti.png") no-repeat;
    float: left;
    width: 31px;
    height: 30px;
}
.ai {
    background: url("../img/ai.png") no-repeat;
    height: 114px;
    width: 114px;
    margin-top: -5px;
    margin-left: 30px;
}
.mikrofon {
    background: url("../img/microfon.png") no-repeat;
    height: 113px;
    width: 123px;
    margin-top: -4px;
    margin-left: 26px;
}
.semerka {
    font-size: 22px;
    color: #909090;
}
.kod{
    outline: none;
    display: block;
    width: 57px;
    height: 29px;
    padding: 6px 8px;
    font-size: 22px;
    line-height: 1;
    color: #909090;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #909090;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.nomer{
    outline: none;
    display: block;
    width: 177px;
    height: 29px;
    padding: 6px 8px;
    font-size: 22px;
    line-height: 1;
    color: #909090;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #909090;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.nomtop {
    margin-left: 14px;
    margin-top: -29px;
}
.kodtop {
    margin-left: -48px;
    margin-top: -15px;
}
.semytop {
    margin-left: 87px;
    margin-top: -23px;
}
.krparam {
    padding-top: 9px;
    padding-left: 51px;
    font-size: 30px;
}
.kablibkli {
    text-align: center;
    margin-top: 11px;
    margin-left: 3px;
    color: #3c3c3c;
}
.zadwoproslene {
    font-size: 22px;
    text-align: center;
    margin-top: 6px;
    margin-left: 7px;
    color: #909090;
}
.tehhar {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 7px;
    text-align: center;
    color: #909090;
}
.frmcntrl {
    display: block;
    width: 200px;
    height: 25px;
    font-size: 19px;
    outline: none;
    line-height: 1.3;
    color: #909090;
    vertical-align: middle;
    background-color: #ffffff;
    border: 0 solid #FFFFFF;
    border-bottom: 2px solid #909090;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.polya {
    margin-left: -15px;
}
.washpole {
    margin-top: -9px;
    margin-left: -6px;
}
.washmail {
    margin-left: 0;
}
.rzmpl {
    margin: -9px 0 0 28px;
    height: 210px;
    width: 442px;
}
.parman {
    margin-left: 3px;
    margin-top: 2px;
}
.parmgalk {

    margin-left: -3px;
    margin-top: 1PX;
}
.parkey {
    margin-top: 5px;
    margin-left: 3px;
}
#avtor {
    margin-top: 13px;
    margin-left: 1px;
    font-size: 20px;
}
#texta {
    font-size: 13px;
    margin-left: 2px;
    margin-top: -10px;
    width: 581px;
    line-height: 20px;
}
#tvor {
    margin-top: 15px;
    margin-left: 1px;
    font-size: 20px;
}
#hudo {
    font-size: 14px;
    margin-left: 0;
    margin-top: -10px;
    width: 584px
}
#knbig {
    width: 368px;
    height: 256px;
    margin-left: -2px;
    margin-top: 33px;
}
#vlpis {
    margin-left: -36px;
    margin-top: 24px;
}
#vlpis2 {
    font-size: 40px;
    margin-top: 21px;
    margin-left: 39px;
    color: #4c6171;
}
#kndet {
    font-size: 18px;
    margin-top: -10px;
    margin-left: 42px;
    color: #4c6171;
}
#trog {
    font-size: 15px;
    margin-top: 12px;
    margin-left: 40px;
    width: 563px;
    line-height: 1.6;
}
#rub {
    margin-left: 38px;
    margin-top: 21px;
    font-size: 24px;
}
#knop {
    margin-top: -47px;
    margin-left: 10pc;
}
#mag {
   margin-top: 69px;
   margin-left: -46px;
}
#magikk {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 8px;
    color: #4c6171;
}
#obem {
    font-size: 18px;
    margin-top: -10px;
    margin-left: 9px;
    color: #4c6171;
}
#poknig {
    font-size: 15px;
    margin-top: 12px;
    margin-left: 10px;
    width: 579px;
    line-height: 1.6;
}
#sum {
    margin-left: 6px;
    margin-top: 21px;
    font-size: 24px;
}
#knpk {
    margin-top: -47px;
    margin-left: 115px;
}
#melodik {
    margin-left: -22px;
    margin-top: 31px;
    width: 349px;
}
#dis {
    margin-top: 50px;
    margin-left: -47px;
}
#disb{
    margin-top: 60px;
    margin-left: -12px;
    width: 352px;
}
#fihleb {
    margin-left: -11px;
}

#hlebduh {
    font-size: 40px;
    margin-top: 40px;
    margin-left: 39px;
    color: #4c6171;
}

#osozdan {
    font-size: 18px;
    margin-top: -10px;
    margin-left: 42px;
    color: #4c6171
}
#posvya {
    font-size: 15px;
    margin-top: 12px;
    margin-left: 41px;
    width: 579px;
    line-height: 1.6;
    color: #3b3b3b;
}
.cwet_sserr {
    color: #3b3b3b;
}
#devshe {
    margin-left: 39px;
    margin-top: 21px;
    font-size: 24px;
}

#knopp {
    margin-top: -47px;
    margin-left: 160px;
}

#cont {
    margin-bottom: 9px;
}
#log{
    width: 356px;
}
#napi {
    width: 572px;
    margin-left: -90px;
    margin-top: 21px;
}

#napi a     {
    color: #000000;
}
#napi2 {
    font-size: 40px;
    margin-top: 21px;
    margin-left: 39px;
    color: #4c6171;
}
#logg {
    margin-top: 27px;
    margin-left: -54px;
}
#vna {
    letter-spacing: 0.3px;
    width: 582px;
    font-size: 19px;
    margin-top: -12px;
    margin-left: 41px;
    color: #4c6171;
}
#tel {
    font-size: 16px;
    margin-left: 40px;
    margin-top: 12px;
    color: #182a36;
}
#sskkyyppee {
    font-size: 16px;
    margin-left: 41px;
    margin-top: -2px;
    color: #182a36;
}
#mail {
    font-size: 16px;
    margin-left: 40px;
    margin-top: -5px;
    color: #182a36;
}
#mail2 {
    margin-left: 112px;
    margin-top: -32px;
    font-size: 18px;
    border-bottom: 1px solid;
    width: 169px;
    line-height: 1.1;
    color: #182a36;
}
#nomnomerok {
    color: #182a36;
    margin-left: 112px;
    margin-top: -34px;
    font-size: 18px;
}
#skyp {
    margin-left: 112px;
    margin-top: -32px;
    font-size: 18px;
    border-bottom: 1px solid;
    width: 121px;
    line-height: 1.1;
    color: #182a36;
}
#strel {
    margin-left: 509px;
    margin-top: -155px;
}

.s1 a {
    -moz-transition: color 0.2s 0.02s ease;
    -o-transition: color 0.2s 0.02s ease;
    -webkit-transition: color 0.2s 0.02s ease;
    color:#ffffff;

}

.s1 a:hover {
    color: #95c7cc;
}

.tilt img{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt img:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}